
MFSerial Proto/.DS_Store
/MFSerial Proto/MFSerial Proto-backups
/Standalone/Standalone-backups
.DS_Store
/Production v1.1/Production v1.1-backups
/Production/Production-backups
Production v1.1/~Production v1.1.kicad_pcb.lck
